.container {
  padding-top: 100px; }
  .container .title {
    color: #43aaed;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 100px; }
  .container .introWrapper {
    position: relative; }
    .container .introWrapper > img {
      position: absolute; }
    .container .introWrapper .img1 {
      top: -50px;
      left: 0; }
    .container .introWrapper .img1_1 {
      top: -12px;
      right: 56px; }
    .container .introWrapper .img2 {
      top: 400px;
      left: 0; }
    .container .introWrapper .img2_2 {
      top: 300px;
      right: 40px; }
    .container .introWrapper .img3 {
      bottom: -20px;
      left: 0; }
    .container .introWrapper .img4 {
      bottom: 0;
      right: 30px; }
  .container .intro {
    margin-left: 550px;
    margin-bottom: 250px;
    position: relative; }
    .container .intro:last-child {
      margin-bottom: 0; }
    .container .intro .watermark {
      position: absolute;
      opacity: 0.07;
      font-size: 120px;
      font-weight: bold;
      color: #6b707c;
      top: -100px;
      left: -120px;
      letter-spacing: 7px; }
    .container .intro .title {
      display: flex;
      align-items: flex-end;
      margin-bottom: 40px; }
      .container .intro .title h3 {
        color: #1b1e27;
        font-size: 28px;
        margin: 0 12px 0 0;
        position: relative; }
        .container .intro .title h3:before {
          content: "";
          display: block;
          width: 180px;
          height: 1px;
          background-color: #43aaed;
          position: absolute;
          top: -36px;
          left: -100px; }
      .container .intro .title p {
        font-size: 18px;
        color: #43aaed;
        margin: 0; }
    .container .intro .content p {
      margin: 0 0 16px 0;
      color: #6b707c;
      font-size: 18px;
      line-height: 24px; }
  .container .introLeft {
    margin-left: 150px; }
    .container .introLeft .watermark {
      left: 120px; }
    .container .introLeft .title h3:before {
      left: 500px; }
