@font-face {
  font-family: MFYueHei;
  src: url("https://xiaoji-web.oss-cn-hangzhou.aliyuncs.com/modules/MFYueHei_Noncommercial-Regular.otf") format("opentype"), url("https://xiaoji-web.oss-cn-hangzhou.aliyuncs.com/modules/Montserrat-Regular.ttf") format("ttf"); }

body {
  min-width: 960px;
  font-family: MFYueHei, "PingFang SC", sans-serif; }
