@font-face {
  font-family: MFYueHei;
  src: url("https://s3-ap-northeast-1.amazonaws.com/xiaojibucket/fonts/MFYueHei_Noncommercial-Regular.otf") format("opentype"), url("https://s3-ap-northeast-1.amazonaws.com/xiaojibucket/fonts/Montserrat-Regular.ttf") format("ttf"); }

body {
  min-width: 960px;
  font-family: MFYueHei, "PingFang SC", sans-serif; }
